.services {
    background-color: var(--bg-primary);
    padding-block: 10em;
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        article {
            display: grid;
            background-color: var(--bg-secondary);
            padding: 2em;
            border-radius: 15px;
            border: 1px solid #eeeeee3b;
            h3 {
                text-transform: uppercase;
                margin-top: 0.5em;
                margin-bottom: 1em;
            }
            a {
                display: flex;
                margin-top: 2em;
                align-items: center;
                gap: 2rem;
                transition: all 300ms ease-in-out;
                &:hover {
                    color: var(--secondary);
                }
            }
        }
    }
}
