.section-title {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    p {
        padding-bottom: 0.3rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--secondary);
        }
    }
    h2 {
        font-size: 3.5rem;
    }
}
