.project-card {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    grid-row: span 4;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        z-index: 3;
        opacity: 0;
        transition: opacity 0.4s linear;
    }
    .project-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s linear;
    }
    .badge {
        position: absolute;
        font-size: 1.1rem;
        top: 1rem;
        right: 1rem;
        background-color: var(--text);
        color: var(--bg-secondary);
        border-radius: 8px;
        padding: 0.7em 1.5em;
        outline: none;
        border: none;
        z-index: 3;
    }
    .card-info {
        position: absolute;
        padding: 2em;
        bottom: 0;
        transform: translateY(65%);
        transition: transform 0.3s linear;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
            font-size: 3rem;
            color: var(--text);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }
        p {
            visibility: hidden;
            transition: transform 0.3s linear;
        }
    }
    &:hover {
        .card-info {
            transform: translateY(0%);
        }
        .project-image {
            transform: scale(1.2);
        }
        &::before {
            opacity: 1;
        }
        p {
            visibility: visible;
        }
    }
    @media screen and (min-width: 578px) {
        &:nth-child(odd) {
            grid-row: span 3;
        }
        &:nth-child(even) {
            grid-row: span 4;
        }
        &:nth-child(1) {
            grid-column: span 2;
        }
    }
}
