.hero {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        .col-1 {
            padding-block: 7rem;
            .hi {
                color: var(--text);
            }
            h1 {
                font-size: 5rem;
            }
            h2 {
                color: var(--text);
            }
            .intro-text {
                margin-block: 3rem;
            }
            .cta {
                display: flex;
                gap: 3rem;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        .col-2 {
            overflow: hidden;
            position: relative;
            min-height: 48rem;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left top;
                @media screen and (min-width: 768px) {
                    width: 80%;
                }
            }
            @media screen and (min-width: 768px) {
                min-height: 54rem;
            }
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        .banner {
            position: absolute;
            display: grid;
            align-content: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            z-index: 10;
            height: 8rem;
            bottom: -4rem;
            width: 100%;
            background-color: var(--bg-primary);
            border-radius: 7rem;
            padding: 0.75rem 2.5rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
            .banner-card {
                display: flex;
                gap: 1rem;
                align-items: center;
                .icon {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: var(--primary);
                }
                .content {
                    h3 {
                        color: var(--text);
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                @media screen and (max-width: 485px) {
                    flex-direction: column;
                }
            }
            @media screen and (max-width: 485px) {
                height: 12rem;
                bottom: -6rem;
            }
            @media screen and (max-width: 350px) {
                display: none;
            }
        }
    }
    @media screen and (min-width: 768px) {
        padding-top: 7em;
    }
    .socials {
        position: fixed;
        left: 1%;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li {
                transition: all 300ms ease-in-out;
                &:hover {
                    color: var(--secondary);
                }
            }
        }
        @media screen and (min-width: 1080px) {
            display: block;
        }
    }
}
