@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&family=Oswald:wght@600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --bg-primary: #1a1a1a;
    --bg-secondary: #121212;
    --primary: #0077b6;
    --secondary: #b5179e;
    --text: #eee;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-secondary);
    color: var(--text);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    margin-inline: auto;
    width: 90%;
    max-width: 1080px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    line-height: 1.1;
    color: var(--primary);
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    border: 1px solid var(--primary);
    padding: 0.5em 2em;
    border-radius: 2em;
    transition: all 300ms ease-in-out;
    font-size: 1.2rem;
    &.primary {
        background-color: var(--primary);
    }
    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }
}
