.main-nav {
    z-index: 999;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 2em;
    backdrop-filter: (blur(15px));
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    padding: 0.5em 1.65em;
    background-color: #ffffff17;
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all 300ms ease-in-out;
            i {
                align-items: center;
                justify-content: center;
            }
            p {
                font-size: 1.1rem;
                line-height: 0.75;
                @media screen and (min-width: 768px) {
                    font-size: 1.4rem;
                }
            }
            @media screen and (min-width: 768px) {
                flex-direction: row;
                gap: 1rem;
            }
            &.active {
                color: var(--primary);
            }
            &:hover,
            &:focus-visible {
                color: var(--secondary);
            }
        }
        @media screen and (min-width: 768px) {
            gap: 3rem;
        }
    }
    @media screen and (min-width: 768px) {
        bottom: auto;
        top: 2rem;
    }
    &.hidden {
        bottom: -100px;
        transition: all 300ms ease-in-out;
        @media screen and (min-width: 768px) {
            bottom: auto;
            top: -100px;
        }
    }
}
