.studio-nav {
    padding: 2em;
    .link {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        font-size: 1.2rem;
        text-decoration: none;
        i {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
